<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Attendance Marking System</h1>
    </header>

    <nav>
        <a href="{{ url_for('login') }}">Login</a>
    </nav>

    <main>
        <h2>Welcome to the Face Recognition Attendance System</h2>
        <p>Effortlessly manage and track attendance with the latest in facial recognition technology.</p>
        <a href="{{ url_for('login') }}" class="btn-main">Login to Get Started</a>
    </main>
</body>
</html>
